/* global elements */
:root {
    --color1: #D03737;
    --color2: #0C1248;
    --color3: #FFF;
}

/* header items */
.header {
    padding: 30px;
}

.maxWidth80 {
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.header h1 {
    text-align: center;
}

/* boxed items (with borders) */
.box {
    border: solid;
    border-radius: 10px;
    border-color: var(--color2);
    /* font-weight: 600; */
    padding: 20px;
    margin: 20px;
}

/* submit button */
.submit {
    max-width: 100px;
    max-height: 80px;
}