/*
    Specific Styles for the results page
*/
.jumbotron {
    background-color: #fff;
    opacity: 90%;
    border: 1px solid #0C1248;
    padding: 0;
    text-align: center;
}

.icon-group img {
    margin: 0 3px;
}

#quiz-nav:hover {
    border: none;
}

.jumbotron p {
    margin-bottom: 0;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.grow-2 {
    flex-grow: 4;
}

.flight:hover {
    outline: #0C1248 solid 2px;
}

@media screen and (max-width: 991.98px){
    .quiz-link {
        display: none !important;
    }
    #filter {
        display: none;
    }
    #filler {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #quiz-nav {
        display: none;
    }
}